@import "./breakpoints.scss" ;

//  Typography and reset

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100;200;300;400;500;600;700&family=Catamaran:wght@100;300;400;500;600;700&family=Maven+Pro:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

a {
    text-decoration: none;
}
 
 
 // Header

header {
    max-height: 30vh;
    display: flex;
    padding: 0.5em;
    background: #07121F;
    .logo-container {
        max-height: 100%;
        flex: 1 1 33%;
        img {
            width: 14%;
            height: 100%;
        }
    }
    nav {
        flex: 0 1 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
            list-style-type: none;
            display: flex;
            gap: 1em;
            flex-wrap: wrap;
            li {
                a {
                    color: azure;
                    cursor: pointer;
                  }
            }
        }
    }
}

// Home Section 

.home-section {
    max-height: 100vh;
    width: 100vw;
    .advert-1 {
        width: 100%;
        height: 100vh;
        position: relative;
        background-image: url("../static/advert1.avif");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2 {
            color: azure;
        }
        .search-for-your-vehicle {
            min-width: 50%;
            min-height: 10%;
            display: flex;
            justify-content: center;
            gap: 1em;
            align-items: center;
            .forCar-input {
                display: none;
                label {
                    color: azure;
                }
            }
            .error {
                display: none;
                color: red;
            }
            select {
                min-height: 5vh;
                padding: .4em 1em;
            }
            #search-for-your-car {
                flex: 0 1 15%;
                min-height: 5vh;
                svg {
                    max-width: 1.5em;
                    max-height: 1.5em;
                }
            }
        }
    }
    .select-category-menu {
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        .category-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.6em;
            cursor: pointer;
            height: 100%;
            justify-content: center;
        }
    }
    .carousel {
        width: 100vw;
        height: 60vh;
        .slide {              
              li {
                display: grid;
                width: 350px;
                height: 385px;
                border-radius: 5px;
                font-size: 1.5rem;
                font-family: 'Poppins', sans-serif;
                text-align: center;
                box-shadow: 0 0 1rem grey;
                background: white;
                padding: 1rem;
                line-height: 2;
                img {
                    width: 350px;
                    height: 350px;
                  }
              }  
          }
      }    
}


//  Login and Register pages/forms

.forms-page {
    position: relative;
    display: flex;
    min-width: 100svw;
    min-height: 100svh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 2em;
    .tac-section {
        display: none;
        max-height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        ul {
            li {
                font-size: clamp(1.5rem, 1.8rem, 2.4rem);
            }
        }
    }
    
    .action-success {
        display: none;
        min-height: 10vh;
        #success-check {
            top: 0.3em;
             right: -2em;
            position: absolute;
            z-index: 10;
            width: 1em;
            height: 1em;
        }
    }
    
    .form-el {
        min-width: 30vw;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 2em;
        background: #eee;
        border-radius: 0.7em;
        justify-content: center;
        fieldset {
            border: none;
            display: flex;
            flex-direction: column;
            gap: .3em;
            position: relative;
            input {
                padding: .6em  .5em;
                border: none;
            }
            input.error {
                border: 2px solid red;
                border-radius: .6em;
            }
            .error-message {
                display: none;
                color: red;
            }
            input:focus + label,
            input + label.static {
                transform: translateY(-1em);
            }
            label {
                padding: 0 .4em;
                position: absolute;
                left: 0;
                top: 0;
                transition: transform 200ms ease;
                pointer-events: none;
            }
        }
        .btn {
            max-width: 30%;
            padding: 0.5em 1em;
            border-radius: 0.5em;
            border: none;
            cursor: pointer;
            font-weight: bold;
            transition: ease-in-out 200ms;
        }
    }
    .login-form {
        background-color: #15172B;
        @include sm {
            transform: translate(-30%, -20%);
        }
        @include lg {
            transform: translate(-20%, -20%);
        }
        .heading {
            h2 {
                color: azure;
            }
        }
        p {
            color: azure;
            a {
                color: orchid;
                cursor: pointer;
                svg {
                    max-width: 1em;
                    max-height: 1em;
                    fill: orchid;
                    display: none;
                }
            }
            a:hover {
                text-decoration: underline;
                svg {
                    display: inline;
                }
            }
        }
        fieldset {
            input {
                background-color: transparent;
                color: azure;
                outline: none;
                border-bottom: 2px solid azure;
                opacity: .3;
            }
            input:focus {
                opacity: 1;
            }
            label {
                color: azure;
            }
        }
        #login-btn {
            @include md {
                max-width: 100%;
            }
            background: linear-gradient(to left, rgba(212,251,63,1) 32%, rgba(252,176,70,1) 68%);
            background-size: 200% 100%;
            background-position:left bottom;
            transition: ease-in-out 200ms;
            transition:all 600ms ease;
        }
        #login-btn:hover {
            background-position:right bottom;
        }
    }
    .register-form {
        gap: 1em;
        @include lg {
            left: 80%;
            max-width: 90vw;
            display: flex;
            flex-direction: column;
        }
        @include md {
            left: 85.5%;
        }
        @include lsm {
            left: 100%;
        }
        @include sm {
            left: 137%;
        }
        .heading {
            h2 {
                color: #6658D3;
            }
        }
        .social-media {
            .media-list {
                display: flex;
                // align-items: center;
                list-style-type: none;
                justify-content: space-evenly;
                @include md {
                   
                }
                gap: 1em;
                li {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    flex: 0 1 33%;
                    .icon-and-add-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .4em;
                        svg {
                            max-width: 2em;
                            max-height: 2em;
                        }
                        svg:last-child {
                            cursor: pointer;
                            fill: cornflowerblue;
                        }
                    }
                    .label-and-input.zoomed {
                        animation-name: zoomIn;
                        animation-duration: 1s;
                    }
                    .label-and-input.outzoomed {
                        animation-name: zoomOut;
                        animation-duration: 1s;
                    }
                    .label-and-input {
                        position: relative;
                        display: none;
                        width: 100%;
                        height: 20%;
                        svg {
                            max-width: 2em;
                            max-height: 2em;
                            position: absolute;
                            right: 0;
                            top: 0;
                            cursor: pointer;
                            padding: 0.5em;
                            border-radius: 50%;
                        }
                        svg:hover {
                            background: #c8c8c8;
                        }
                        input {
                            padding: .6em  .5em;
                            border: none;
                            border-radius: .6em;
                            outline: none;
                        }
                        input:focus + label,
                        input + label.static {
                            transform: translateY(-1em);
                        }
                        label {
                            padding: 0 .4em;
                            position: absolute;
                            left: 0;
                            top: 0;
                            transition: transform 200ms ease;
                            pointer-events: none;
                        }
                    }
                    .tooltip {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: .4em;
                        max-height: 2em;
                        width: 100%;
                        background-color: rgb(250, 174, 75);
                        position: relative;
                        border-radius: .6em;
                        display: none;
                        span{
                            display: block;
                            color: azure;
                            width: 100%;
                            text-align: center;
                            font-weight: bold;
                        }
                    }
                    .tooltip::before {
                        content: " ";
                        position: absolute;
                        top: -9px;
                        left: 50%;
                        width: 5%;
                        margin-left: -23px;
                        border-width: 5px;
                        border-style: solid;
                        border-color: rgb(250, 174, 75) transparent transparent transparent;
                        height: 0%;
                        transform: rotate(180deg);
                    }
                }
                li:first-child {
                    .icon-and-input{
                        .icon-and-add-btn{
                            svg:first-child {
                                fill: cornflowerblue;
                            }
                        }
                    }
                }
                li:nth-child(2) {
                    .icon-and-input{
                        .icon-and-add-btn{
                            svg:first-child {
                                fill: #d6249f;
                            }
                        }
                    }
                }
                li:last-child {
                    .icon-and-input{
                        .icon-and-add-btn{
                            svg:first-child {
                                fill: blue;
                            }
                        }
                    }
                }
            }
        }

        fieldset {
            label {
                color: cornflowerblue;
            }
            input {
                background-color: transparent;
                color: black;
                outline: none;
                border-bottom: 2px solid cornflowerblue;
                opacity: .3;
            }
            input:focus {
                opacity: 1;
            }
        }
        p {
            color: cornflowerblue;
            a {
                color: orchid;
                cursor: pointer;
                svg {
                    fill: orchid;
                    max-width: 1em;
                    max-height: 1em;
                    display: none;
                }
            }
            a:hover {
                text-decoration: underline;
                svg {
                    display: inline;
                }
            }
        }
      #register-btn {
        background: linear-gradient(to left, rgba(63,251,135,1) 32%, rgba(252,70,199,0.9276960784313726) 68%);
        background-size: 200% 100%;
        background-position:left bottom;
        transition: ease-in-out 200ms;
        transition:all 600ms ease;
        @include lsm {
            max-width: 100%;
        }
      }
      #register-btn:hover {
        background-position:right bottom;
      }
        .tac-span {
            font-size: clamp(1rem, 1.2rem, 1.5rem);
            font-style: italic;
            display: block;
            margin: 0 auto;
            .open-dialog-span {
                color: orchid;
                cursor: pointer;
            }
            .open-dialog-span:hover {
                text-decoration: underline;
            }
        }
    }
}


//  Catalog 

.catalog-section {
    background-color: #FAFAFA;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1em;
    gap: 0.6em;
    h1 {
        flex: 1 1 80%;
        span {
            font-size: 1rem;
            font-style: italic;
            padding: 0.5em;
            background: aquamarine;
            border-radius: 0.6em;
        }
    }
    #clear-vehicle-selection {
        padding: 1em;
        border-radius: 0.6em;
        border: none;
        outline: none;
        background: black;
        color: azure;
        cursor: pointer;
        transition: ease-in-out 200ms;
    }
    #clear-vehicle-selection:hover {
        background-color: darkgray;
        color: azure;
    }
    .sidebar {
        flex: 1 1 20%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        background: #FFFFFF;
        border: 1px solid #DFE3E8;
        border-radius: 0.5em;
        .sidebar-top {
            display: none;
            position: relative;
            h3 {
                text-align: center;
            }
            #searchCategory {
                width: 100%;
                padding: 0.3em 1em;
                outline: none;
            }
            svg {
                max-width: 1.3em;
                max-height: 1.3em;
                position: absolute;
                top: 1.7em;
                right: 0.5em;
            }
        }
        .sidebar-middle {
            display: none;
            ul {
                list-style-type: none;
                .subcategory-li {
                    cursor: pointer;
                    padding: .5em;
                    border-radius: .6em;
                    transition: ease-in-out 200ms;
                }
                li:hover, li.active-subcategory {
                    background-color: gainsboro;
                }
            }
        }
        .line-divider {
            display: none;
            height: 1vh;
            background-color: gainsboro;
        }
        .sidebar-bottom {
            ul {
                list-style-type: none;
                .category-li {
                    cursor: pointer;
                    padding: .5em;
                    border-radius: .6em;
                    transition: ease-in-out 200ms;
                }
                li:hover, li.active-category {
                    background-color: #6658D3;
                    color: azure;
                }
            }
        }
    }
    .items-container {
        flex: 1 1 60%;
        display: grid;
        grid-template-columns: minmax(20em, 20em) 2fr 2fr;
        grid-gap: 2em;
        padding: 1em;
        .card {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            gap: 1em;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}


        //  Create Section 

.create-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading-container {
        background: blueviolet;
        max-width: 80%;
        width: 80%;
        border-radius: 0.6em;
        h1 {
            color: azure;
            text-align: center;
        }
    }
    form {
        padding: 2em;
        background-color: #15172B;
        border-radius: 0.7em;
        display: flex;
        max-width: 50vw;
        flex-wrap: wrap;
        gap: 2em;
        justify-content: center;
        #description-field {
            flex: 1 1 100%;
            textarea {
                min-height: 20vh;
                max-height: 30vh;
                height: 30vh;
                background: transparent;
                border: 3px solid azure;
                border-radius: 0.8em;
                color: azure;
                padding: 0.4em 1em;
                width: 100%;
                opacity: .3;
            }
            textarea:focus {
                opacity: 1;
            }
            label {
                top: 1em;
                left: 1em;
            }
            textarea:focus + label,
            textarea + label.static {
                transform: translateY(-2em);
            }
        }
        fieldset {
            border: none;
            display: flex;
            flex-direction: column;
            gap: .3em;
            position: relative;
            flex: 1 1 33%;
            padding: .5em 1em;
            textarea {
                min-height: 20%;
            }
            input {
                padding: .6em  .5em;
                border: none;
                background-color: transparent;
                color: azure;
                outline: none;
                border-bottom: 2px solid azure;
                opacity: .3;
            }
            input.error {
                border: 2px solid red;
                border-radius: .6em;
            }
            input:focus {
                opacity: 1;
            }
            .error-message {
                display: none;
                color: red;
            }
            input:focus + label,
            input + label.static{
                transform: translateY(-1em);
            }
            label {
                color: azure;
                padding: 0 .4em;
                position: absolute;
                left: 0;
                top: 0;
                transition: transform 200ms ease;
                pointer-events: none;
            }
        }
        fieldset.select-field {
            display: flex;
            flex-direction: column;
            gap: 2em;
            position: relative;
            label {
               top: -2em;
            }
            .other-input {
                display: none;
                position: relative;
                label {
                    top: 0;
                }
            }
        }
    }
}

            //  DETAILS SECTION 

.details-section {
    width: 98vw;
    height: 100vh;
    display: flex;
    margin-top: 1em;
    gap: 2em;
    padding: 0.5em;
    .left-part, .right-part {
        flex: 1 1 50%;
    }

    .left-part {
        border-radius: 3.8em;
        overflow: hidden;
        height: fit-content;
        img {
            width: 100%;
            height: auto;
        }
    }

    .right-part {
        display: flex;
        flex-direction: column;
        gap: 1em;
        .text-top {
            display: flex;
            flex-wrap: wrap;
            gap: 0.6em;
            padding: 0.5em;
            h1 {
                flex: 1 1 100%;
                text-align: center;

            }
            h4{
                flex: 1 1 33%;
                text-align: center;
            }
        }
        .description {
            max-width: 90%;
            padding: 0.5em; 
            p {
                width: 100%;
                text-align: justify;
            }       
        }
        .owner-info {
            display: flex;
            flex-wrap: wrap;
            gap: 0.6em;
            padding: 0.5em;
            h4{
                flex: 1 1 33%;
                text-align: center;
            }
        }
        #add-to-cart-btn {
            max-width: 20%;
            padding: 0.5em 1em;
            margin-left: auto;
        }
    }
}